body{
  min-height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section{
  width: 40%;
}
.container{
  padding: 0 20px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
h3{
  text-align: center;
  font-size: 55px;
  font-weight: 400;
  font-family: 'Reenie Beanie', cursive;
}
.accordion__item{
  margin-bottom: 40px;
  border: 1px solid rgba(0,0,0,.2);
  background: white;
  overflow: hidden;
  border-radius: 5px;
}
.accordion__item--selected{
  box-shadow: 1px 1px 40px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 1px 1px 40px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 40px 0px rgba(0,0,0,0.3);
}
.accordion__heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  cursor: pointer;
}
.accordion__title{
  font-size: 55px;
  margin: 0;
  font-weight: 400;
  font-family: 'Reenie Beanie', cursive;
}
.accordion__content{
  height: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
}
.accordion__content--open{
  height: auto;
  opacity: 1;
  transition: opacity ease-in-out 0.3s;
  -webkit-transition: opacity ease-in-out 0.3s;
}
.accordion__content p{
  padding: 0px 30px 30px;
  margin: 0;
  line-height: 1.5;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
}
.accordion__arrow{
  transition:  transform ease-in-out 0.5s;
  -webkit-transition:  transform ease-in-out 0.5s;
  padding: 10px;
  border-radius: 500px;
  border:1px solid rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion__arrow--rotate{
  transform: rotate(-180deg);
  transition:  transform ease-in-out 0.5s;
  -webkit-transition:  transform ease-in-out 0.5s;
}
