.accordion{
  width: 50%;

  @include tablet-down(){
    width: 100%;
    padding: 40px 0;
  }

  &__item{
    margin-bottom: 40px;
    border: 1px solid rgba(0,0,0,.2);
    background: white;
    overflow: hidden;
    border-radius: 5px;

    &--selected{
      box-shadow: 1px 1px 40px 0px rgba(0,0,0,0.3);
    }
  }
  &__heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    cursor: pointer;
  }
  &__title{
    font-size: 55px;
    margin: 0;
    font-weight: 400;
    font-family: 'Reenie Beanie', cursive;
  }
  &__content{
    height: 0;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;

    &--open{
      height: auto;
      opacity: 1;
      transition: opacity ease-in-out 0.3s;
    }

    p{
      padding: 0px 30px 30px;
      margin: 0;
      line-height: 1.5;
      font-size: 20px;
      font-family: 'Rubik', sans-serif;
    }
  }

  &__arrow{
    transition: transform ease-in-out 0.5s;
    padding: 10px;
    border-radius: 500px;
    border:1px solid rgba(0,0,0,0.15);
    padding: 15px;
    position: relative;

    &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
    }

    &--rotate{
      transform: rotate(-180deg);
      transition:  transform ease-in-out 0.5s;
    }
  }
}
